*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans';
    }
    body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    }
    .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 15px;
    line-height: 21px;
    }
    h2{
        font-family:'Segoe UI';
        text-align: center;
    }

    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
}